*{
	margin:0px;
	padding:0px;
	text-align:center;
	font-family: 'Big Shoulders Stencil Display', cursive;
	color:#363636;
}

a{
	font-size:14px;
}

header, footer{
	margin:0 auto;
	width:1200px;
	height:70px;
	border:solid #C0C0C0 1px;
}

/*header*/

header{
	background:#fff
	URL(banner.jpg)
}

header nav ul{
	text-align:right;
	list-style-type:none;
	padding-top:40px;
}

header nav ul li{
	display:inline;
	margin-right:20px;
}

header ul li a{
	text-decoration:none;
}

header ul li a:hover{
	color:#000;
	text-decoration:underline;
	text-shadow: 1px 1px 1px black;
}

/*section centro*/
section#centro{
	width:1200px;
	height:800px;
	margin:0 auto;
	border-left:solid #C0C0C0 1px;
	border-right:solid #C0C0C0 1px;	
}

/*section menu*/
section#menu{
	height:800px;
	width:200px;
	background-color:#fff;
	float:left;
}

section#menu nav{
	padding-bottom:15px;
}

section#menu nav h4{
	width:100%;
	background-color:#696969;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
}

section#menu nav ul{
	padding-left:10px;
	padding-top:7px:
}

section#menu nav ul li{
	padding-left:10px;
	text-align:left;
	line-height:1.6;
	list-style-type:none;
}

section#menu nav ul li a{
	text-decoration:none;
}

section#menu nav ul li:hover{
	text-shadow: 1px 1px 1px black;
	text-decoration:underline;
}

/*Section artigos*/
section#artigos{
	height:800px;
	width:820px;
	background-color:#fff;
	float:left;
	border-left:solid; #696969 1px;
	border-right:solid; #696969 1px;
}

section#artigos h2 a p{
	font-family:tahoma;
	text-align:left;
}

section#artigos h2{
	color:#0000CD;
	font-size:30px;
	padding-left:15px
}

section#artigos a{
	color:#000;
	text-decoration:none;
}

section#artigos a:hover{
	color:#C0C0C0;
	text-decoration:underline;
}

section#artigos a p{
	font-size:15px;
	padding-left:25px;
	padding-right:20px;
	padding-top:15px;
	padding-bottom:15px;
}

section#artigos a p img{
	width:170px;
	float:left;
	margin-right:15px;
	margin-bottom:5px;
}

/*Section parceiros*/
section#parceiros{
	height:800px;
	width:170px;
	background-color:#FFF;
	float:left;
}


section#parceiros img{
	width:170px;
	
}

section#parceiros p{
	padding-top:15px;
	padding-bottom:10px;
}

section#parceiros p:hover{
	background-color:#FFF8DC;
}

/*Contêiner footer*/
footer{
	clear:both;
}

footer address{
	padding-top:15px;
}

footer address a{
	text-decoration:none;
}

footer address a:hover{
	text-shadow: 1px 1px 1px black;
	text-decoration:underline;
}